{
  "timestamp": "2025-06-24T14:15:56.552Z",
  "totalServices": 40,
  "processedSuccessfully": 40,
  "errors": [],
  "environmentVariables": [
    "AZURE_OPENAI_API_KEY",
    "AZURE_OPENAI_ENDPOINT",
    "AZURE_TENANT_ID",
    "AZURE_CLIENT_ID",
    "AZURE_CLIENT_SECRET",
    "GOOGLE_APPLICATION_CREDENTIALS",
    "GOOGLE_CLOUD_PROJECT",
    "GOOGLE_CLOUD_REGION",
    "GOOGLE_CLOUD_SERVICE_ACCOUNT_EMAIL",
    "GOOGLE_CLOUD_CLIENT_ID",
    "GOOGLE_CLOUD_CLIENT_SECRET",
    "NEXT_PUBLIC_FIREBASE_API_KEY",
    "NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN",
    "NEXT_PUBLIC_FIREBASE_PROJECT_ID",
    "NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET",
    "NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID",
    "NEXT_PUBLIC_FIREBASE_APP_ID",
    "NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID",
    "GITHUB_APP_ID",
    "GITHUB_APP_PRIVATE_KEY",
    "GITHUB_CLIENT_ID",
    "GITHUB_CLIENT_SECRET",
    "GITHUB_WEBHOOK_SECRET",
    "STRIPE_SECRET_KEY",
    "NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY",
    "STRIPE_WEBHOOK_SECRET",
    "STRIPE_CONNECT_CLIENT_ID",
    "NODE_ENV",
    "DEBUG_AIDE",
    "AIDE_LOG_LEVEL",
    "AIDE_PERSISTENCE_PATH",
    "AIDE_ENABLE_REACTIVE_UPDATES",
    "AIDE_MAX_CONCURRENT_AGENTS",
    "AIDE_MESSAGE_TIMEOUT",
    "AIDE_AUTO_ACTIVATE_EXTENSIONS",
    "AIDE_ENABLE_COPILOT_INTEGRATION",
    "NEXT_PUBLIC_AIDE_VERSION",
    "NEXT_PUBLIC_BACKEND_URL",
    "NEXT_PUBLIC_REMOTE_CONFIG_VERSION"
  ],
  "commonVariables": [
    "NODE_ENV",
    "NEXTAUTH_URL",
    "NEXT_PUBLIC_APP_URL",
    "CODAI_ENVIRONMENT",
    "CODAI_VERSION",
    "TURBO_TEAM",
    "AZURE_OPENAI_API_KEY",
    "AZURE_OPENAI_ENDPOINT",
    "AZURE_TENANT_ID",
    "AZURE_CLIENT_ID",
    "AZURE_CLIENT_SECRET",
    "GOOGLE_APPLICATION_CREDENTIALS",
    "GOOGLE_CLOUD_PROJECT",
    "GOOGLE_CLOUD_REGION",
    "GOOGLE_CLOUD_SERVICE_ACCOUNT_EMAIL",
    "GOOGLE_CLOUD_CLIENT_ID",
    "GOOGLE_CLOUD_CLIENT_SECRET",
    "NEXT_PUBLIC_FIREBASE_API_KEY",
    "NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN",
    "NEXT_PUBLIC_FIREBASE_PROJECT_ID",
    "NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET",
    "NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID",
    "NEXT_PUBLIC_FIREBASE_APP_ID",
    "NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID",
    "GITHUB_APP_ID",
    "GITHUB_APP_PRIVATE_KEY",
    "GITHUB_CLIENT_ID",
    "GITHUB_CLIENT_SECRET",
    "GITHUB_WEBHOOK_SECRET",
    "STRIPE_SECRET_KEY",
    "NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY",
    "STRIPE_WEBHOOK_SECRET",
    "STRIPE_CONNECT_CLIENT_ID",
    "DEBUG_AIDE",
    "AIDE_LOG_LEVEL",
    "AIDE_PERSISTENCE_PATH",
    "AIDE_ENABLE_REACTIVE_UPDATES",
    "AIDE_MAX_CONCURRENT_AGENTS",
    "AIDE_MESSAGE_TIMEOUT",
    "AIDE_AUTO_ACTIVATE_EXTENSIONS",
    "AIDE_ENABLE_COPILOT_INTEGRATION",
    "NEXT_PUBLIC_AIDE_VERSION",
    "NEXT_PUBLIC_BACKEND_URL",
    "NEXT_PUBLIC_REMOTE_CONFIG_VERSION"
  ]
}
