out/test/**
src/**
.vscode/**
.vscode-test/**
.gitignore
.gitlab-ci.yml
DEVELOPMENT.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/@types/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.test.js
node_modules/**/*.spec.js
node_modules/**/package-lock.json
node_modules/**/yarn.lock
